body {
    width: 100%;
	max-width: 1024px;
    background-color: #e6f2ff;
    margin: auto;
    padding: 1pt;
   }
header {
    padding: 10pt;
    border-style: dashed;
    border-color: #004080;
    padding: 5pt;
    text-align: center;
    }
p {
    margin: 0px;
    padding: 0px 0px 35px 0px;
    }
h1 {
    color: #004080;
    text-align: center;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: 30px;
    color: #4286ca;
}
h3 {
    text-align: left;
    font-size: 35px;
    color: #4286ca;
    margin: 10;
}
footer {
    text-align: center;
    color: #004080;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h3.judson {
    text-align: right;
}
p.judson{
    text-align: right;
}
#judson{
    margin-right: 0;
}
#chase{
    margin-left: 0;
}
#paxton{
    margin-left: 0;
}
